/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset.css
 *= require_self
 *= require_tree . 
*/
@import "mixins.scss";

html {
  background-image: url(/assets/bgs/fabric.png);
}

body {
  font-family: "Helvetica Neue", Arial;
  color: $white;
}

form .field {
  position: relative;

  label {
    position: absolute;
    top: 2px;
    left: 2px;
    color: black;
  }
}

.flash {
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
  text-shadow: 2px 3px 1px #000000;

  &.notice {
    color: orange;
  }
  &.alert {
    color: red;
  }
}

.big-button {
  display: inline-block;
  width: 106px;
  height: 109px;
  background-position: center top;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;

  &:hover {
    background-position: center -109px; 
  }
  &:active {
    background-position: center -224px;
  }

  &.questions {
    background-image: url(/assets/button-questions.png)
  }
  &.response {
    background-image: url(/assets/button-response.png)
  }
  &.vote {
    background-image: url(/assets/button-vote.png)
  }
}

#content {
  margin: 0 auto;
  width: 1125px;

  h1 {
    text-align: center;
    color: $white;
    margin: 50px 0;
    /*text-shadow: 1px 1px 4px #000; */
    font-size: 36px;
    line-height: 1;
    padding: 20px 50px 0;
    height: 59px;
    background: url(/assets/header_bg.png) no-repeat center center;
    font-weight: normal;
  }
}

#page_logo {
  height: 66px;
  width: 232px;
  background: url(/assets/verdic.png);
  overflow: hidden;
  text-indent: -9999px;
  margin: 40px auto 0;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

#member_bar {
  position: absolute;
  top: 5px;
  right: 10px;

  a {
    text-decoration: none;
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}
